

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 62.5%;
    /* faz com que o scroll dessa de forma  ail lenta */
    scroll-behavior: smooth;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
body{
    font-family: 'Open Sans', sans-serif;;
    font-size: 2rem;
    /* utilizando a variavel global */
    color: var(--primary-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;

}
h3{
    font-size: 3.5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 3.5rem;
}
h6{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 2rem;
}

.reponsive-table{
    overflow: hidden;
    overflow-x: auto; 
    width: 100%;
}

table{
    min-width: 30rem;
    width: 100%;
    /* para não ter espaçamento entre as bordas */
    border-collapse: collapse;
}

table caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
}

table td, table th{
    /* faz com que não ocorra quebra de texto */
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}

table th{
    background: var(--light-gray-color);
    color: var( --primary-color);
}

@media(max-width:400px){
    h1{
        font-size: 4.5rem;
    }
    h2{
        font-size: 4rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
    
    }
    h3{
        font-size: 3.5rem;
    }
    h4{
        font-size: 4rem;
    }
}