<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>It was render</h1>
    <form method="POST">
        name of client: <input typw="text" name="name">
        Account number  <input typw="text" name="accountNumber">
        <button>Send</button>
    </form>
    
</body>
</html>