*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 24px;
}

p{
    margin: 0 0 24px;
}

.two-columns{
    display: flex;

}
.two-columns .col{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 30px;
    background:indigo;
    color: cyan;
}
.gallery{
    /*  os itens flexíveis são forçados a ficarem na mesma linha ou se podem ser quebradas em varias linhas. */
    flex-flow: row wrap;
    display: flex;
}
.gallery .img{
  flex: 1 0 20%;
  height: 50px;
  background: lawngreen;
  margin: 10px;
}





