<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container"></div>
    <div class="row">
        <div class="col-lg-2"></div>
<!-- all this classs is in boodstrap -->
        <div class="col-lg-8 my-3">
            <h1 class=" text-center">Agenda</h1>
            <p class="text-center lead">your contacts are below</p>

            <!-- div.row>div.col>div.alert.alert-danger -->
            <div class="row">
                <div class="col my-3">
                    <div class="alert alert-danger">Anyone error</div>
                </div>
            </div>

            <div class="responsive-table">
                <table class="table" my-3>
                    <!-- tr*3>td*4 -->
                    <tr>
                        <td>Caio</td>
                        <td>Matos</td>
                        <td>503213213</td>
                        <td>caio@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Caio</td>
                        <td>Matos</td>
                        <td>503213213</td>
                        <td>caio@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Caio</td>
                        <td>Matos</td>
                        <td>503213213</td>
                        <td>caio@gmail.com</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="col-lg"></div>
    </div>
 
<%- include('includes/footer') %>



  